@CHARSET "ISO-8859-1";

.menuFormat {
	background-color:#FF0000;
	font-size: medium;
	font-stretch: wider;
	text-align: center;
}

.link {
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	color: white;
}

#fileSelectDiv {
	width:			100%;
	background-color:#FFFFCC;
}

.fileComboBoxFormat {
	width:250px;
}

.selectFilecomboBoxFormat {
	width:250px;
}

.queryFieldcomboBoxFormat {
	width:125px;
}

.buttonFormat {
	background-color:#FF0000;
	font-size: medium;
	font-stretch: wider;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
} 